/* TODO Make the glowy bit nicer and sharper */
.strength0 {
    text-shadow: 0px 0px 2px #ff0000, 0px 5px 10px #ff0000;
}

.strength1 {
    text-shadow: 0px 0px 2px #ff5f5f, 0px 5px 10px #ff5f5f;
}

.strength2 {
    text-shadow: 0px 0px 2px #ff8b29, 0px 5px 10px #ff8b29;

}

.strength3 {

    text-shadow: 0px 0px 2px #56e500, 0px 5px 10px #56e500;
}

.strength4 {
    text-shadow: 0px 0px 2px #4dcd00, 0px 5px 10px #4dcd00;

}

.strength5 {
    text-shadow: 0px 0px 2px #399800, 0px 5px 10px #399800;

}

#createUser label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
}

body {
    padding-top: 10px;
    padding-bottom: 40px;
}